DICTIONARY
- HOW TO DECLARE IT
- HOW TO ACCESS KEY AND VALUES OF A DICTIONARY
- HOW TO USE LOOPS IN DICTIONARY

In [2]:
student = {
    "name" : "john",
    "class" : "12th",
    "rollno": 12,
    "age" : 17
}
print(student)

{'name': 'john', 'class': '12th', 'rollno': 12, 'age': 17}

In [3]:
temp = {
    'lucknow' : [25,30,35],
    'delhi' : [30,35,40],
    'chennai' : [24,23,22]
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'chennai': [24, 23, 22]}

In [4]:
info = dict(name='riya', age =27,dept='HR',salary =30000)
print(info)

{'name': 'riya', 'age': 27, 'dept': 'HR', 'salary': 30000}

In [5]:
info2 = dict (name = input ("enter the name"),age = int(input("enter the age")),
             dept = input("enter the department"),salary=int(input("enter the salary")))

ValueError: invalid literal for int() with base 10: ' '

In [ ]:
print(info2)

{'name': 'jack', 'age': 23, 'dept': 'finance', 'salary': 23000}

In [ ]:
#lst method
print(student['name'])
print(student['rollno'])

john
12

In [ ]:
#2nd method
print(student.get('name'))
print(student.get('rollno'))

john
12

In [ ]:
#to add items in a dictionary
student['school'] = 'dps'
student['city'] ='lucknow'
print(student)

{'name': 'john', 'class': '12th', 'rollno': 12, 'age': 17, 'school': 'dps', 'city': 'lucknow'}

In [ ]:
for x in student:
    print(x)

name
class
rollno
age
school
city

In [ ]:
for k,v in student.items():
    print(f'{k}:{v}')

name:john
class:12th
rollno:12
age:17
school:dps
city:lucknow

In [ ]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'class', 'rollno', 'age', 'school', 'city'])
dict_values(['john', '12th', 12, 17, 'dps', 'lucknow'])
dict_items([('name', 'john'), ('class', '12th'), ('rollno', 12), ('age', 17), ('school', 'dps'), ('city', 'lucknow')])

In [ ]:
company = {
    'emp001' :{
        'name' : 'john',
        'age' : 27 ,
        'dept' : 'HR',
        'salary' : 30000 
    },
'emp002' :{
        'name' : 'riya',
        'age' : 25 ,
        'dept' : 'IT',
        'salary' : 40000 
},
'emp003' :{
        'name' : 'mike',
        'age' : 30 ,
        'dept' : 'finance',
        'salary' : 35000
    }
}
print(company)

{'emp001': {'name': 'john', 'age': 27, 'dept': 'HR', 'salary': 30000}, 'emp002': {'name': 'riya', 'age': 25, 'dept': 'IT', 'salary': 40000}, 'emp003': {'name': 'mike', 'age': 30, 'dept': 'finance', 'salary': 35000}}

In [ ]:
from pprint import pp

In [ ]:
pp(company)

{'emp001': {'name': 'john', 'age': 27, 'dept': 'HR', 'salary': 30000},
 'emp002': {'name': 'riya', 'age': 25, 'dept': 'IT', 'salary': 40000},
 'emp003': {'name': 'mike', 'age': 30, 'dept': 'finance', 'salary': 35000}}

In [ ]:
print(company['emp001']['dept'])

HR

In [ ]:
company['emp004']={
    'name' :'sam',
    'age' : 35,
    'dept': 'admin',
    'salary' : 25000 
}
pp(company)

{'emp001': {'name': 'john', 'age': 27, 'dept': 'HR', 'salary': 30000},
 'emp002': {'name': 'riya', 'age': 25, 'dept': 'IT', 'salary': 40000},
 'emp003': {'name': 'mike', 'age': 30, 'dept': 'finance', 'salary': 35000},
 'emp004': {'name': 'sam', 'age': 35, 'dept': 'admin', 'salary': 25000}}

In [ ]:
print(temp['lucknow'][1])
print(temp['delhi'][1])

30
35

In [ ]:
print('average temperature in delhi:',sum(temp['delhi'])/len(temp['delhi']))

average temperature in delhi: 35.0

In [9]:
from pprint import pp

ALEX
-> english 85
-> maths 90
-> science 78
-> total marks 253
rahul
-> english 80
-> maths 85
-> science 90
-> total marks 255

In [10]:
report = {
    'Alex' : {
        'English' : 85,
        'Maths' : 90,
        'SCIENCE' :78
    },
    'Rahul' :{
        'English' : 80,
        'Maths' : 90,
        'SCIENCE' :90

    }
}
pp(report)

{'Alex': {'English': 85, 'Maths': 90, 'SCIENCE': 78},
 'Rahul': {'English': 80, 'Maths': 90, 'SCIENCE': 90}}

In [11]:
for student ,marks in report.items():
    print(student)
    for subject,mark in marks.items():
        print('->',subject,mark)
    print('->total marks :', sum(marks.values()))

Alex
-> English 85
-> Maths 90
-> SCIENCE 78
->total marks : 253
Rahul
-> English 80
-> Maths 90
-> SCIENCE 90
->total marks : 260