create

method

set opertion
- union
- intersection
- difference
- symmetric difference
- issubset
- issuperset

In [52]:
x = {2,5,4,2,5,7,6,7,3}
print(x)

{2, 3, 4, 5, 6, 7}

In [53]:
y = {1,2,3,4,5}
z = {1,2,3,4,5,6,5,4,4,5,6,7,5,6,5}
print(y)
print(z)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

In [54]:
# convert string into set
a = set("hello")
print(a)

{'h', 'o', 'e', 'l'}

In [55]:
# convert list into a set
b = set([1,4,2,4,5,3,6,7,3])
print(b)

{1, 2, 3, 4, 5, 6, 7}

In [56]:
# make set of 50 number by range
c = set(range(11))
print(c)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [57]:
# add data in a set
data = set()
data.add(12)
data.add(17)
data.add(2)
data.add(9)
data.add(3)
print(data)

{2, 3, 9, 12, 17}

In [58]:
# to remove data from set
# lst method
data.pop()
data.pop()
print(data)

{9, 12, 17}

In [59]:
#2nd method 
data.discard(9)
print(data)

{12, 17}

In [60]:
data.clear()
print(data)

set()

In [61]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {7,8,9,10}
d = {2,3,4}
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10, 7}

In [62]:
print(a.union(b))
print(a|b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [63]:
print(a.intersection(b))
print(a & b)

{4, 5}
{4, 5}

In [64]:
print(a.difference(b))
print(a-b)

{1, 2, 3}
{1, 2, 3}

In [65]:
print(a.issubset(b))

False

In [66]:
print(a.issuperset(d))

True